body {
  background-color: #1a1a1a;
  color: #ffffff;
}

header {
  font-size: 2em;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a::after {
  text-decoration: dotted;
}
